In [10]:
# python version: 3.8.11

import sys
sys.path.append('..')

In [11]:
import pandas as pd

In [14]:
df = pd.read_csv(
    "../datasets/person/AppleWatch - HeartRate StepCount etc 8440 rows - analysis.csv")

for e in df['type'].unique():
    e = str(e)
    print(e.replace("HKQuantityTypeIdentifier", ""))

HeartRate
StepCount
DistanceWalkingRunning
BasalEnergyBurned
ActiveEnergyBurned
FlightsClimbed
AppleExerciseTime
HKCategoryTypeIdentifierAppleStandHour
HKCategoryTypeIdentifierHighHeartRateEvent
HeartRateVariabilitySDNN

In [15]:
df

,Unnamed: 0,type,unit,creationDate,startDate,endDate,value
0,2,HKQuantityTypeIdentifierHeartRate,count/min,2020-06-13 02:50:42 +0900,2020-06-13 02:50:23 +0900,2020-06-13 02:50:23 +0900,79.5536
1,3,HKQuantityTypeIdentifierHeartRate,count/min,2020-06-13 02:55:24 +0900,2020-06-13 02:55:10 +0900,2020-06-13 02:55:10 +0900,81
2,4,HKQuantityTypeIdentifierHeartRate,count/min,2020-06-13 03:01:15 +0900,2020-06-13 02:57:08 +0900,2020-06-13 02:57:08 +0900,85
3,5,HKQuantityTypeIdentifierHeartRate,count/min,2020-06-13 03:06:23 +0900,2020-06-13 03:02:43 +0900,2020-06-13 03:02:43 +0900,89
4,6,HKQuantityTypeIdentifierHeartRate,count/min,2020-06-13 03:12:22 +0900,2020-06-13 03:08:34 +0900,2020-06-13 03:08:34 +0900,89
...,...,...,...,...,...,...,...
8434,92400,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2020-06-17 09:43:01 +0900,2020-06-17 09:41:56 +0900,2020-06-17 09:43:01 +0900,48.3458
8435,92401,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2020-06-17 14:01:20 +0900,2020-06-17 14:00:19 +0900,2020-06-17 14:01:20 +0900,38.1264
8436,92402,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2020-06-18 02:18:12 +0900,2020-06-18 02:17:10 +0900,2020-06-18 02:18:12 +0900,31.683
8437,92403,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2020-06-18 05:43:00 +0900,2020-06-18 05:41:55 +0900,2020-06-18 05:43:00 +0900,20.8941
8438,92404,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2020-06-18 09:43:01 +0900,2020-06-18 09:41:55 +0900,2020-06-18 09:43:01 +0900,18.2329